body{
    margin: 200px 0px;
}

ul{
  list-style: none;
}

.main{
    margin: 200px 100px;
}




/* card background */
.container{
  height: 320px;
  width: 647px;
  display: flex;
  background-color: #042F60;
  justify-content: space-between;
  border-radius: 26px;
}


/* start right part */

.left{
  padding: 0px 0px 0px 35px;
  position: relative;
  top: -70px;
}

.left p{
  margin: 0px;
  font-family: 'Bebas Neue', cursive;
  font-size: 43px;
  font-weight: bold;
  color: #FDFEFF;
}

.left .postion{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #FDFEFF;
  margin-bottom: 22px;
}

.left ul{
  padding: 0px;
}

.left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    
}

.left ul li .contact{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FDFEFF;
}

.left ul li img{
    margin-right: 10px;
}





/* start left part */

.right{
    padding: 25px 35px 20px 0px;
}

.right .logo{
    text-align: end;
}

.right .media{
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}



/* start  card under line */

.consider {
    margin-top: 20px;
}

.consider .contain{
    display: flex;
    align-items: end;
}

.consider .contain p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #009746;
    margin-left: 10px;
}